.news1{
    background-color: beige;
    margin: 3rem 4rem 4rem 4rem;
    padding: 1rem 1rem 1rem 1rem;
}
.news1 h2{
    text-align: center;
}
.news1 img{
    width: 30%;
    height: 30%;
}
.con1{
    display: flex;
    margin: 10px 10px 10px 10px;
}
.Dummy1{
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
}