body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

h3 {
    text-align: center;
}

.anime-title {
    font-size: 18px; 
    margin-bottom: 10px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #6ecfe2;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #9de3a9;
}

img {
    max-width: 100px;
    height: auto;
    display: block; 
    margin: 0 auto; 
}
